source https://api.nuget.org/v3/index.json
source https://nuget.nikolamilekic.com/index.json

storage: none

framework: auto-detect

nuget FSharp.Core >= 6.0 lowest_matching: true
nuget FSharpPlus
nuget Milekic.YoLo storage: packages
nuget GitInfo < 3 copy_local: true
nuget Microsoft.SourceLink.GitHub copy_local: true
nuget FsSodium prerelease
nuget Avalonia.Diagnostics
nuget Avalonia.Desktop
nuget Avalonia.Themes.Fluent
nuget Avalonia.FuncUI
nuget Avalonia.FuncUI.Elmish
nuget Dotnet.Bundle
nuget Milekic.FsBech32

// Testing
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Unquote

group Console
    source https://api.nuget.org/v3/index.json
    storage: none

    framework: auto-detect

    nuget FSharp.Core
    nuget FSharpPlus
    nuget Milekic.YoLo
    nuget Argu
    nuget GitInfo
